/** Buttons **/

button {
	-webkit-appearance: none;
	padding: 4px 8px;
	outline: none;
	border: none;
	border-radius: 4px;
	opacity: 1;
	background-color: transparent;
	color: #ffa000;
	cursor: pointer;
	font-size: 18px;
	letter-spacing: 0;
	transition-duration: 0.2s
}
button:hover, button:active, .modal button.active {background-color: var(--selection)}
button:active, .modal button.active {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	transition-duration: 0.1s
}

/* Variants */
footer button {color: #e65100}
footer button:hover {background-color: rgba(0, 0, 0, 0.1)}
footer button:active {background-color: rgba(0, 0, 0, 0.2)}