/** Buttons **/

button {
	-webkit-appearance: none;
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer
}
button:not([type="submit"]) {
	padding: 4px 8px;
	border-radius: 4px;
	opacity: 1;
	color: #ffa000;
	font-size: 18px;
	letter-spacing: 0;
	transition-duration: 0.2s
}
button:not([type="submit"]):hover, button:not([type="submit"]):active {background-color: var(--primary-light)}
button:not([type="submit"]):active {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	transition-duration: 0.1s
}

/* Variants */
footer button:not([type="submit"]) {color: #e65100}
footer button:not([type="submit"]):hover {background-color: rgba(0, 0, 0, 0.1)}
footer button:not([type="submit"]):active {background-color: rgba(0, 0, 0, 0.2)}