.CanvasContainer h3 {
	margin: 0 0 8px 0;
	color: var(--nickname-color);
	font-size: 16px
}

#Canvas {
	display: block;
	max-width: 100%;
	border-radius: 4px;
	box-shadow: inset 0 0 0 1px var(--nickname-color-light)
}