.card {
	margin: 16px;
	padding: 8px;
	padding-left: 16px;
	border-radius: 8px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	/*-webkit-transform: skewX(-3deg);
	transform: skewX(-3deg)*/
}

.actions {text-align: right}