/** Cards **/

.card {
	margin: 0 0 16px 0;
	padding: 8px;
	padding-left: 16px;
	border-radius: 8px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	background-color: #fff
}

.actions {text-align: right}

.card.word {display: none}

.card.word #word {
	text-align: center;
	font-size: 52px;
	letter-spacing: 8px
}