/** Cards **/

.card {
	display: none;
	width: 480px;
	margin: 0 0 16px 0;
	padding: 8px;
	border-radius: 8px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	background-color: #fff
}

.card.submit-word {display: block}

.card.word #word {
	font-size: 52px;
	word-wrap: break-word;
	text-align: center;
	letter-spacing: 8px
}

.card.restart h3.win {color: var(--valid)}
.card.restart h3.lose {color: var(--invalid)}