/** Form content **/

/* Inputs */

input {
	-webkit-appearance: none;
	display: block;
	outline: none;
	transition-duration: 0.2s
}
/* Text inputs */
input[type="text"]:not(#link) {
	width: 100%;
	padding: 4px 0;
	border: none;
	border-bottom: 2px solid var(--secondary);
	opacity: 0.65;
	color: var(--secondary);
	font-size: 16px
}
/* Focused text inputs */
input[type="text"].focused {opacity: 1}
/* Range inputs */
input[type="range"] {
	width: 240px;
	margin: 10px 0;
	cursor: ew-resize
}
/* Range input track */
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	background-color: var(--primary)
}
input[type="range"]::-moz-range-track {
	width: 100%;
	height: 2px;
	background-color: var(--primary)
}
input[type="range"]::-ms-track {
	width: 100%;
	height: 2px;
	background-color: var(--primary)
}
/* Range input thumb */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	margin-top: -7px;
	border: none;
	border-radius: 50%;
	background-color: var(--primary);
	transition-duration: 0.2s
}
input[type="range"]::-moz-range-thumb {
	width: 16px;
	height: 16px;
	border: none;
	border-radius: 50%;
	background-color: var(--primary);
	transition-duration: 0.2s
}
input[type="range"]::-ms-thumb {
	width: 16px;
	height: 16px;
	border: none;
	border-radius: 50%;
	background-color: var(--primary);
	transition-duration: 0.2s
}
input[type="range"]:hover::-webkit-slider-thumb {box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)}
input[type="range"]:hover::-moz-range-thumb {box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)}
input[type="range"]:hover::-ms-thumb {box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)}

/* Labels */

label {
	color: var(--secondary);
	pointer-events: none;
	font-size: 16px
}
label.text {
	top: -24px;
	position: relative;
	opacity: 0.65;
	transition-duration: 0.2s
}
input.focused ~ label.text {
	top: -44px;
	opacity: 1;
	color: var(--secondary);
	font-size: 12px
}

/* Label values */
.range-value {
	margin-left: 6px;
	padding: 0 4px;
	border-radius: 4px;
	background-color: var(--selection);
}

/* Error spans */
.error {
	top: -14px;
	position: relative;
	color: var(--invalid);
	font-size: 14px;
	font-style: italic
}