/** Game content **/

/* CSS imports */
@import url(RoundIndicator.css);
@import url(HiddenWord.css);
@import url(InnerGameContainer.css);
@import url(Canvas.css);
@import url(Chat.css);

.GameContainer {
	display: none;
	width: 720px;
	margin: 0 0 16px 0;
	padding: 8px;
	border-radius: 8px;
	background-color: #fff
}

.GameSubcontainer {
	display: flex;
	margin-top: 8px
}