/** Game tip **/

/* Help message about joining hosted games and sending letters & words in the chat (not a container but eh, kinda) */

.GameTip {
	margin: 10px 0 20px 0;
	padding: 0 8px;
	color: var(--secondary-dark);
	text-align: center
}

.GameTip a {
	position: relative;
	color: #000;
	text-decoration: none;
	transition-duration: 0.2s
}
.GameTip a::before {
	content: "";
	width: 100%;
	height: 2px;
	top: 100%;
	position: absolute;
	background-color: #000
}
.GameTip a:hover {opacity: 0.65}