/** Game content **/

/* CSS imports */
@import url(RoundIndicator.css);
@import url(HiddenWord.css);
@import url(Canvas.css);
@import url(Chat.css);

.GameContainer {
	display: none;
	width: 1000px
}

.GameContainer .ConnectedPlayers {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin-right: 8px
}

.GameContainer .ConnectedPlayers .Player {
	margin-bottom: 8px;
	padding: 4px 8px;
	overflow: hidden;
	border-radius: 8px;
	background-color: var(--primary-light);
	text-overflow: ellipsis
}

.GameInnerContainer {
	flex-grow: 1;
	margin: 0 0 16px 0;
	padding: 8px;
	border-radius: 8px;
	background-color: #fff
}

.GameInnerContainer2 {display: flex}

.GameInnerContainer3 {
	flex-grow: 1;
	min-width: 0;
	margin-right: 8px
}