.HiddenWordContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px
}

#HiddenWordAuthor {
	opacity: 0.65;
	color: var(--secondary);
}

#HiddenWord {
	font-size: 30px;
	letter-spacing: 4px;
	word-wrap: break-word
}