/** Inputs, labels & error spans **/

.text {
	margin-bottom: 16px;
	position: relative
}

input[type="text"] {
	display: block;
	width: 200px;
	padding: 4px 0;
	outline: none;
	border: none;
	border-bottom: 2px solid var(--secondary);
	opacity: 0.65;
	color: var(--secondary);
	font-size: 16px;
	transition-duration: 0.2s
}
input.focused {opacity: 1}

label {
	top: -24px;
	position: relative;
	opacity: 0.65;
	color: var(--secondary);
	pointer-events: none;
	font-size: 16px;
	transition-duration: 0.2s
}
input.focused ~ label {
	top: -44px;
	opacity: 1;
	color: var(--secondary);
	font-size: 12px
}

.error {
	display: block;
	color: var(--error);
	font-size: 12px;
	transition-duration: 0.2s
}