/** Keyframes **/

/* Overlay fade in */
@-webkit-keyframes OverlayFadeIn {
	from {
		visibility: hidden;
		opacity: 0
	} to {
		visibility: visible;
		opacity: 1
	}
}
@keyframes OverlayFadeIn {
	from {
		visibility: hidden;
		opacity: 0
	} to {
		visibility: visible;
		opacity: 1
	}
}

/* Overlay fade out */
@-webkit-keyframes OverlayFadeOut {
	from {
		visibility: visible;
		opacity: 1
	} to {
		visibility: hidden;
		opacity: 0
	}
}
@-webkit-keyframes OverlayFadeOut {
	from {
		visibility: visible;
		opacity: 1
	} to {
		visibility: hidden;
		opacity: 0
	}
}