/** Keyframes **/

/* Fade in */
@-webkit-keyframes FadeIn {
	from {
		visibility: hidden;
		opacity: 0
	} to {
		visibility: visible;
		opacity: 1
	}
}
@keyframes FadeIn {
	from {
		visibility: hidden;
		opacity: 0
	} to {
		visibility: visible;
		opacity: 1
	}
}

/* Fade out */
@-webkit-keyframes FadeOut {
	from {
		visibility: visible;
		opacity: 1
	} to {
		visibility: hidden;
		opacity: 0
	}
}
@-webkit-keyframes FadeOut {
	from {
		visibility: visible;
		opacity: 1
	} to {
		visibility: hidden;
		opacity: 0
	}
}