/** Main styles **/

/* CSS imports */
@import url(fonts.css);
@import url(overlay.css);
@import url(header.css);
@import url(footer.css);
@import url(card.css);
@import url(modal.css);
@import url(buttons.css);
@import url(input.css);
/*@import url(loading.css);*/
/*@import url(snackbar.css);*/
@import url(keyframes.css);

/* Variables */
:root {
	--primary: #ffb300; /* Orange */
	--secondary: #cc8f00; /* Dark orange */
	--background: #eee; /* Light white */
	--selection: #f2ecd9; /* Light orange */
	--selection2: #dfdac8; /* Light orange 2 */
	-error: #de1744 /* Error red */
}

body {
	margin: 0;
	overflow: hidden
}

/* Main container */
main {padding: 0 16px}