/** Main styles **/

/* CSS imports */
@import url(fonts.css);
@import url(overlay.css);
@import url(header.css);
@import url(card.css);
@import url(modal.css);
@import url(form.css);
@import url(buttons.css);
@import url(keyframes.css);

/* Variables */
:root {
	--primary: #ffb300; /* Orange */
	--secondary: #cc8f00; /* Dark orange */
	--background: #eee; /* Light white */
	--selection: #f2ecd9; /* Light orange */
	--selection2: #dfdac8; /* Light orange 2 */
	--valid: #41ad49; /* Valid green */
	--invalid: #de1744 /* Error red */
}

body {margin: 0}

/* Main container */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 16px
}

/* Canvas */
canvas {width: 300px}

/* Media queries */

/* 540px max */
@media screen and (max-width: 540px) {
	.card {width: 95%}
	.modal {width: 90%}
}