/** Main styles **/

/* CSS imports */
@import url(fonts.css);

/* Variables */
:root {
	--primary: #ff9800;
	--secondary: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 20px;
	background-color: var(--primary);
	letter-spacing: -0.5px
}

h1 {
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0.2)
}

.container {
	width: 480px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transform: skewX(-5deg);
	transform: skewX(-5deg);
}

.container h2 {margin: 0}

canvas {border: 1px solid #000}

/* Media queries */

/* 520px max media query */
@media screen and (max-width: 520px) {
	.container {width: 100%}
}