/** Main styles **/

/* CSS imports */
@import url(Overlay.css);
@import url(header.css);
@import url(Container.css);
@import url(Modal.css);
@import url(form.css);
@import url(buttons.css);
@import url(GameContainer.css);
@import url(Keyframes.css);

/* Lilita One import */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

/* Apply font */

body, button, input, textarea {font-family: "Lilita One", sans-serif}

h1, h3, h4 {
	margin: 0;
	font-weight: normal
}
h1, h3 {margin: 12px 0}

/* Text selection color */
::-moz-selection {background-color: var(--primary-light)}
::selection {background-color: var(--primary-light)}
header h1::-moz-selection, .JoinHelp::-moz-selection {background-color: rgba(0, 0, 0, 0.1)}
header h1::selection, .JoinHelp::selection {background-color: rgba(0, 0, 0, 0.1)}

/* Variables */
:root {
	--primary: #ffb300; /* Orange */
	--primary-light: #f2ecd9; /* Light orange */
	--secondary: #cc8f00; /* Dark orange */
	--valid: #41ad49; /* Nice green */
	--invalid: #de1744 /* Error red */
}

body {margin: 0}

/* Main container */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 16px
}

/* Canvas */
canvas {width: 300px}

/* Media queries */

/* 740px max */
@media screen and (max-width: 790px) {
	.Container {width: 95%}
	.Modal {width: 95%}
}