/** Main styles **/

/* CSS imports */
@import url(Overlay.css);
@import url(Layer.css);
@import url(Modal.css);
@import url(Header.css);
@import url(Container.css);
@import url(GameContainer.css);
@import url(Form.css);
@import url(Button.css);
@import url(Keyframe.css);

/* Lilita One import */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

/* Apply font */

body, button, input, textarea {font-family: "Lilita One", sans-serif}

h1, h3, h4 {
	margin: 0;
	font-weight: normal
}
h1, h3 {margin: 12px 0}

/* Text selection color */
::-moz-selection {background-color: var(--primary-light)}
::selection {background-color: var(--primary-light)}
header h1::-moz-selection,
.JoinHelp::-moz-selection {
	background-color: rgba(0, 0, 0, 0.1)
}
header h1::selection,
.JoinHelp::selection {
	background-color: rgba(0, 0, 0, 0.1)
}
.RoundLayer::-moz-selection,
.RoundNumber::-moz-selection,
.RoundPlayerLayer::-moz-selection,
.RoundPlayer::-moz-selection {
	background-color: rgba(0, 0, 0, 0.2)
}
.RoundLayer:selection,
.RoundNumber:selection,
.RoundPlayerLayer:selection,
.RoundPlayer:selection {
	background-color: rgba(0, 0, 0, 0.2)
}

/* Variables */
:root {
	--primary: #ffb300; /* Orange */
	--primary-light: #f2ecd9; /* Light orange */
	--secondary: #cc8f00; /* Dark orange */
	--nickname-color: 0; /* Nickname random color */
	--nickname-color-light: 0; /* Nickname random color (light) */
	--valid: #41ad49; /* Nice green */
	--invalid: #de1744 /* Error red */
}

body {margin: 0}

/* Main container */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 16px
}

/* Media queries */

/* 768px max */
@media screen and (max-width: 768px) {
	header {padding: 12px}
	.PageTitle {font-size: 28px}
	.Container {max-width: 100%}
	.Modal {max-width: 100%}
}

/* 600px max */
@media screen and (max-width: 600px) {
	.GameSubcontainer {flex-direction: column}
	.InnerGameContainer {
		margin: 0 0 8px 0;
		text-align: center
	}
	.ChatContainer {width: 100%}
}

/* 480px max */
@media screen and (max-width: 480px) {
	header {padding: 8px}
	.PageTitle {font-size: 24px}
	.HostFormModal input[type="range"] {width: 100%}
}