/** Modal & modal content **/

.Modal {
	display: none;
	width: 720px;
	padding: 8px;
	border-radius: 6px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	transition-duration: 0.2s;
	z-index: -1
}
.Modal.current {display: block}

.ModalActions {
	display: flex;
	justify-content: flex-end
}

/* Modal inner containers */
.inner-container {
	margin: 8px 0 8px 0;
	border-radius: 6px;
	background-color: var(--primary-light)
}

/* Connected players inner container */
.inner-container.connected-players {
	margin-top: 40px;
	padding: 4px 8px 8px 8px
}

.inner-container.connected-players .PlayerList {
	display: flex;
	width: 100%;
	height: 60px;
	margin-top: 4px
}

.inner-container.connected-players .Player {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 100%;
	margin: 0 2px;
	border-radius: 4px;
	background-color: #fff;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}
.PlayerList .PlayerNickname {
	margin-left: 4px;
	word-break: break-all
}
.inner-container.connected-players .Player:first-of-type {margin-left: 0}
.inner-container.connected-players .Player:last-of-type {margin-right: 0}
.inner-container.connected-players .HostPlayer {color: var(--nickname-color)}
.inner-container.connected-players .HostPlayer::after {
	content: "(vous)";
	margin: 0 4px
}

/* Copy link inner container */

.inner-container.link {
	display: flex;
	align-items: center;
	height: 36px;
	position: relative;
	overflow: hidden
}
.inner-container.link #link {
	width: 100%;
	margin: 0 8px;
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 16px;
	user-select: none
}

/* Copy link button */
.inner-container.link #CopyLink {
	margin: 4px;
	position: absolute;
	right: 0;
	box-shadow: -10px 0px 10px 1px var(--primary-light);
	background-color: #fff
}
.inner-container.link #CopyLink:hover, .inner-container.link #CopyLink:active {
	box-shadow: -10px 0px 10px 1px var(--primary-light), 0 4px 8px rgba(0, 0, 0, 0.2);
	background-color: #fff
}