/** Modal & modal content **/

.Modal {
	display: none;
	width: 720px;
	margin: 0 8px;
	padding: 8px;
	border-radius: 6px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	opacity: 0;
	background-color: #fff;
	transition-duration: 0.2s;
	z-index: -1
}
.Modal.current {opacity: 1}

.ModalActions {
	display: flex;
	justify-content: flex-end
}

/* Modal inner containers */
.InnerContainer {
	margin: 8px 0 8px 0;
	border-radius: 6px;
	background-color: var(--primary-light)
}

/* Specific modals */

/* Connected players inner container */
.HostFormModal .ConnectedPlayers {
	margin-top: 40px;
	padding: 4px 8px 8px 8px
}

.HostFormModal .ConnectedPlayers .PlayerList {
	display: flex;
	width: 100%;
	min-height: 60px;
	margin-top: 4px
}

.HostFormModal .ConnectedPlayers .Player {
	height: 60px;
	line-height: 60px;
	margin: 0 2px;
	padding: 0 4px;
	overflow: hidden;
	border-radius: 4px;
	background-color: #fff;
	text-align: center;
	text-overflow: ellipsis;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}
.HostFormModal .ConnectedPlayers .Player:first-of-type {margin-left: 0}
.HostFormModal .ConnectedPlayers .Player:last-of-type {margin-right: 0}
.HostFormModal .ConnectedPlayers .HostPlayer {color: var(--nickname-color)}
.HostFormModal .ConnectedPlayers .HostPlayer::after {
	content: "(vous)";
	margin: 0 4px
}

/* Copy link inner container */

.HostFormModal .Link {
	display: flex;
	align-items: center;
	height: 36px;
	position: relative;
	overflow: hidden
}
.HostFormModal .Link #InvitationLinkInput {
	width: 100%;
	margin: 0 8px;
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 16px;
	user-select: none
}

/* Copy link button */
.HostFormModal .Link #CopyLink {
	margin: 4px;
	position: absolute;
	right: 0;
	box-shadow: -10px 0 10px 1px var(--primary-light);
	background-color: #fff
}
.HostFormModal .Link #CopyLink:hover, .HostFormModal .Link #CopyLink:active {
	box-shadow: -10px 0 10px 1px var(--primary-light), 0 4px 8px rgba(0, 0, 0, 0.2);
	background-color: #fff
}

.SubmitWordModal {width: 320px}