/** Win/lose container **/

.RestartGameContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Win/lose title */
.RestartGameContainer .GameStatus {
	color: var(--valid);
	text-align: center
}

/* Score list */
.ScoreList {
	width: 200px;
	margin: 8px 0
}

/* Player score */
.PlayerScoreContainer {
	display: flex;
	padding: 4px 8px;
	margin-bottom: 8px;
	border-radius: 8px;
	background-color: var(--primary-light)
}
.PlayerScoreContainer:nth-child(1) {background-color: var(--podium-gold)}
.PlayerScoreContainer:nth-child(2) {background-color: var(--podium-silver)}
.PlayerScoreContainer:nth-child(3) {background-color: var(--podium-bronze)}

.PlayerScoreContainer .Icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 8px
}

.PlayerScore {
	display: flex;
	flex-direction: column
}

.PlayerValue {
	font-size: 18px
}

.ScoreValue {
	opacity: 0.5;
	font-size: 14px
}

.RestartGameContainer .ContainerActions {
	width: 100%;
	margin-top: 8px
}
#RestartGame {flex-grow: 1}