.snackbar {
	width: 480px;
	padding: 10px;
	bottom: -64px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transform: skewX(-5deg);
	transform: skewX(-5deg)
}
.snackbar.displayed {
	-webkit-animation: snackbar_display 0.5s forwards;
	animation: snackbar_display 0.5s forwards
}